@model IEnumerable<Model.BinhLuan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        Bình Luận
        @*<small>Version 2.0</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="../Main"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li class="active">Bình Luận</li>
    </ol>
</section>
<section class="content-header">
    <!-- /.row -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">CPU Traffic</span>
                    <span class="info-box-number">90<small>%</small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Likes</span>
                    <span class="info-box-number">41,410</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Sales</span>
                    <span class="info-box-number">760</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">New Members</span>
                    <span class="info-box-number">2,000</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
</section>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Data Tables
        <small>advanced tables</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh Sách Bình Luận</h3>
                </div>
                <div>
                    <p>
                        @Html.ActionLink("Thêm Bình Luận", "Create")
                    </p>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NoiDung)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ngay)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BaiHoc.TieuDe)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Users.HoTen)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NoiDung)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ngay)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BaiHoc.TieuDe)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Users.HoTen)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.IdBinhLuan }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.IdBinhLuan }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.IdBinhLuan })
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NoiDung)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ngay)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BaiHoc.TieuDe)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Users.HoTen)
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

