@model IEnumerable<Model.LoaiBaiHoc>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        Loại Bài Học
        @*<small>Version 2.0</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li class="active">Loại bài học</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.row -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">CPU Traffic</span>
                    <span class="info-box-number">90<small>%</small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Likes</span>
                    <span class="info-box-number">41,410</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Sales</span>
                    <span class="info-box-number">760</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">New Members</span>
                    <span class="info-box-number">2,000</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Data Tables
            <small>advanced tables</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data tables</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <!-- /.box -->
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Danh Sách Loại Bài Học</h3>
                    </div>
                    <div>
                        <p>
                            @Html.ActionLink("Thêm Loại Bài Mới", "Create")
                        </p>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Ten)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ThuTu)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id_LBH)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.KeyWords)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MoTa)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AnHien)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ten)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ThuTu)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id_LBH)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.KeyWords)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MoTa)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AnHien)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.IdLBH }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.IdLBH }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.IdLBH })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Ten)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ThuTu)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id_LBH)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.KeyWords)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MoTa)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AnHien)
                                    </th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</section>
